extends layout

block content
    div(style="height: 100vh")
        div(class="flex-center")
            h1(class="animated flipInX")= title
            div
                p(class="animated bounceInUp") Welcome to #{wellcometext}
