doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    <!-- Font Awesome -->
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')

    <!-- Bootstrap core CSS -->
    link(href='/MDBFree/css/bootstrap.min.css', rel='stylesheet')

    <!-- Material Design Bootstrap -->
    link(href='/MDBFree/css/mdb.min.css', rel='stylesheet')

    link(href='/MDBFree/css/style.css', rel='stylesheet')
  body
    block content
    <!-- SCRIPTS -->

    <!-- JQuery -->
    script(src='/MDBFree/js/jquery-2.2.3.min.js')

    <!-- Bootstrap tooltips -->
    script(src='/MDBFree/js/tether.min.js')

    <!-- Bootstrap core JavaScript -->
    script(src='/MDBFree/js/bootstrap.min.js')

    <!-- MDB core JavaScript -->
    script(src='/MDBFree/js/mdb.min.js')
